.modal-video
    iframe(
        width="720" 
        height="405" 
        src="https://rutube.ru/play/embed/45ac584291cec908701282a7d12b37e7" 
        frameBorder="0" 
        allow="clipboard-write; autoplay" 
        webkitAllowFullScreen
        mozallowfullscreen
        allowFullScreen)
    